:root {
    --color-fondo: #140334;
    --color-card: #231346;
    --color-hover:  #0b021d;
    --color-fondo-section: #19093d;
    --color-border: #2d1f5e;
    --color-azulbtn: #1d5dd5;
}

body {
    margin: 0;
    background-color: var(--color-fondo);
    font-family: Tahoma;
    font-weight: bold;
    color: white;
}

* {
    box-sizing: border-box;
}

.barra-lateral {
    margin: 0;
    padding: 1rem;
    text-align: left;
    width: 400px;
    display: flex;
}

.barra-lateral__logo {
    padding: 15px;
}

.inicio {
    margin: 0;
    padding: 3rem;
    background-color: var(--color-fondo-section);
}

.inicio__busqueda::placeholder {
    color: #9a7bcf;
    font-style: italic;
    opacity: 0.8;
}

h1 {
    color: white;
    font-size: large;
}

h2 {
    color: white;
}

p {
    font-family: Helvetica;
    color: white;
}

a {
    color: white;
}

section {
    margin: 1.5rem;
    background-color: var(--color-fondo-section);
    border-radius: 1rem;
    padding: 1rem;
}

.comunidad__tarjetas {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.comunidad__btn {
    background-color: var(--color-fondo-section);
    border: none;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    min-width: 10rem;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}

.comunidad__btn::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: var(--color-azulbtn);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.comunidad__btn:hover::after {
    width: 80%;
}

.comunidad__btn:hover {
    background-color: var(--color-fondo);
}

.tarjeta-video {
    transition: box-shadow 0.3s ease;
    background-color: var(--color-card);
    margin: 1rem 0;
    border-radius: 0.8rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    width: 400px;
    flex: 1;
    min-width: 25rem;
    min-height: 15rem;
}

.tarjeta-video:hover {
    box-shadow: 0 5px 20px var(--color-hover);
}

.tarjeta-video__titulo {
    text-align: left;
}

.tarjeta-video__descripcion {
    text-align: left;
}

.tarjeta-video__nombre {
    text-align: right;
    color: white;
    font-size: small;
}

.noticias-destacadas {
    transition: box-shadow 0.3s ease;
    background-color: var(--color-fondo-section);
    margin: 1.5rem;
    border-radius: 0.8rem;
    border-width: 1rem;
    border-color: var(--color-border);
    padding: 0.25rem 0;
    cursor: pointer;
    text-align: center;
}

footer {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: rgb(28, 4, 50);
}